
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UserLayoutHeadComponentPartial")

<body>

    @await Component.InvokeAsync("_UserLayoutNavbarComponentPartial")

    @RenderBody()
  
    @await Component.InvokeAsync("_UserLayoutFooterComponentPartial")

    @await Component.InvokeAsync("_UserLayoutScriptComponentPartial")

</body>

</html>