
@{
    ViewData["Title"] = "Menü";
    ViewData["menu"] = "active";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<body class="sub_page">

    </div>
    <br />
    @await Component.InvokeAsync("_DefaultMenuComponentPartial")

</body>