@model List<ResultBookingDTO>

@{
    ViewData["Title"] = "Rezervasyonlar";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
	int count = 0;
}

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<div class="container-fluid">
	<script type="text/javascript">

		$(document).ready(() => {
			var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7263/SignalRHub").build();

			$("#connstatus").text(connection.state);

			connection.start().then(() => {
				$("#connstatus").text(connection.state);
				setInterval(() => {
					connection.invoke("GetBookingList");
				}, 5000);
			}).catch((err) => {
				console.log(err)
			});

			connection.on("ReceiveBookingList", (values) => {
				console.log(values);
				let tablehtml = `<table class="table table-hover table-bordered" >
								 <tr>
									<th>#</th>
									<th>Ad Soyad</th>
									<th>Telefon</th>
									<th>Email</th>
									<th>Kaç Kişilik</th>
									<th>Tarih</th>
									<th>Durum</th>
									<th>Sil</th>
									<th>Güncelle</th>
									<th>İptal Et</th>
									<th>Onayla</th>
								</tr>`
				$.each(values, (index, item) => {
					tablehtml += ` <tr>
									<th>${index+1}</th>
									<td>${item.name}</td>
									<td>${item.phone}</td>
									<td>${item.email}</td>
									<td>${item.personCount}</td>
									<td>${item.bookingDate}</td>
									<td>${item.reservationStatus}</td>
									<td><a href="/Admin/Booking/DeleteBooking/${item.bookingID}" class="btn btn-outline-danger btn-round"><i class="la la-trash"></i> Sil</a></td>
									<td><a href="/Admin/Booking/UpdateBooking/${item.bookingID}" class="btn btn-outline-info btn-round"><i class="la la-pencil"></i> Güncelle</a></td>
									<td><a href="/Admin/Booking/Cancel/${item.bookingID}" class="btn btn-outline-danger btn-round"><i class="la la-times"></i> İptal Et</a></td>
									<td><a href="/Admin/Booking/Approve/${item.bookingID}" class="btn btn-outline-primary btn-round"><i class="la la-plus"></i> Onayla</a></td>
									</tr>`
					});
				tablehtml += `</table>`;
				$("#bookingList").html(tablehtml);
			});
		});
	</script>

	<h4 class="page-title">Rezervasyon İşlemleri</h4>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<div class="card-title">Rezervasyon Listesi</div>
				</div>
				<div class="card-body">
					<div class="card-sub">
						Rezervasyon ile ilgili işlemleri aşağıdan gerçekleştirebilirsiniz.
					</div>
					<div id="bookingList"></div>
					<a href="/Admin/Booking/CreateBooking/" class="btn btn-outline-primary">Yeni Rezervasyon Girişi</a>
				</div>
			</div>
		</div>
	</div>
</div>