@model CreateProductDTO

@{
    ViewData["Title"] = "Yeni Ürün Oluşturma";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Yeni Ürün Oluştur</h3>
    </div>
    <div class="card-body">
        <form method="post">
            <label>Ürün Adı</label>
            <input type="text" asp-for="ProductName" class="form-control" />
            <br />
            <label>Kategori</label>
            <select asp-items="@ViewBag.categories" asp-for="CategoryID" class="form-control">
                <option>Kategori Seçiniz</option>
            </select>
            <br />
            <label>Açıklama</label>
            <textarea type="text" asp-for="Description" class="form-control" rows="5"></textarea>
            <br />
            <label>Fiyat</label>
            <input type="number" asp-for="Price" class="form-control" />
            <br />
            <label>Resim URL</label>
            <input type="text" asp-for="ImageUrl" class="form-control" />
            <br />
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" asp-for="IsShown">
                    <span class="form-check-sign">Ana Sayfada Gösterilsin</span>
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" asp-for="Status">
                    <span class="form-check-sign">Durum</span>
                </label>
            </div>
            <button type="submit" class="btn btn-outline-primary btn-round">Kaydet</button>
        </form>
    </div>
</div>